.sidebar {
    position: fixed; /* Fixes the sidebar to a position */
    top: 0;          /* Starts from the top edge */
    left: 0;         /* Starts from the left edge */
    height: 100vh;   /* Takes the full viewport height */
    width: 12vw;     /* Fixed width to make it thin */
    background-color: rgba(240, 240, 240, 0.15); /* Light grey background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

@media screen and (max-width: 768px) {

    .sidebar {
        position: relative; /* Make the sidebar relative */
        width: auto; /* Make it full width */
        height: 43vh; /* Adjust the height */
        box-shadow: none; /* Remove box shadow for better appearance */
        background-color: transparent; /* Light grey background */
        box-shadow: transparent; /* Subtle shadow */
    }

    .sidebar_text {
        height: auto;
        margin-left: auto; /* Center the image horizontally */
        margin-right: auto; /* Center the image horizontally */
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 1;
    }

    .left-image {
        width: 25%;
        height: auto;
        margin-left: auto; /* Center the image horizontally */
        margin-right: auto; /* Center the image horizontally */
        display: block; /* Make the image a block element to apply margins */
        border-radius: 30%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .sidebar-link {
        margin: 0px;
    }

    p {
        margin: 0;
    }
}

.sidebar-link {
    margin-bottom: 5px; /* Adjust this value to decrease the space between the links */
}

.left-image {
    width: 60vw;
    height: auto;
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
    display: block; /* Make the image a block element to apply margins */
    border-radius: 30%;
}

.sidebar_text {
    height: auto;
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
}

.job-color {
    font-weight: bold;
}

h1 {
    margin: 0;
}

p {
    margin: 5px;
}