.tab-container-experiences {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: justify;
    text-justify: auto
}

.tab-container-resume {
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 10px;
    text-align: justify;
    text-justify: auto
}

.tab-container-web_apps {
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 10px;
    text-align: justify;
    text-justify: auto
}

.tab-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-buttons button {
    padding: 10px 20px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.tab-buttons button.active {
    background-color: grey;
    color: white;
}