h1 {
    margin: 0;
    font-weight: bold;
}

h2 {
    color: black;
    margin: 0;
}

h3 {
    color: black;
    margin-bottom: 5px;
    text-decoration: underline;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}

p {
    margin: 0;
    word-wrap: break-word;
    line-height: 1;
}

a {
    color: blue;
}